In [3]:
import numpy as np
import pandas as pd

In [4]:
features = pd.read_csv("上证股票技术因子数据200101-241217.csv")
features.drop(features.columns[0],axis=1,inplace=True)
features.shape

(2391284, 261)

In [5]:
qfq_features = []
for f in features.columns:
    if(f == "ts_code" or f == "trade_date" or f == "pre_close" or f == "change" or f == "vol" or f == "amount" or f == "pct_chg"
       or f == "turnover_rate" or f == "turnover_rate_f" or f == "volume_ratio" or f == "pe" or f == "pe_ttm" or f == "pb" or f == "ps"
       or f == "ps_ttm" or f == "dv_ratio" or f == "dv_ttm" or f == "total_share" or f == "float_share" or f == "free_share"
       or f == "total_mv" or f == "circ_mv" or f == "adj_factor" or f == "downdays" or f == "updays" or f =="lowdays" or f == "topdays"):
        qfq_features.append(f)
    elif "qfq" in f:
        qfq_features.append(f)
len(qfq_features)

105

In [6]:
features = features[qfq_features]
features.head()

,ts_code,trade_date,open_qfq,high_qfq,low_qfq,close_qfq,pre_close,change,pct_chg,vol,...,taq_up_qfq,trix_qfq,trma_qfq,vr_qfq,wr_qfq,wr1_qfq,xsii_td1_qfq,xsii_td2_qfq,xsii_td3_qfq,xsii_td4_qfq
0,600000.SH,20241217,9.65,9.70,9.50,9.53,9.64,-0.11,-1.1411,411856.94,...,9.92,-0.03551,-0.13054,88.57663,92.857,92.857,9.86340,9.47660,10.45612,9.08803
1,600000.SH,20241216,9.62,9.75,9.62,9.64,9.66,-0.02,-0.2070,341836.18,...,10.05,-0.04065,-0.13100,83.72111,54.902,84.848,9.91287,9.52413,10.45687,9.08868
2,600000.SH,20241213,9.76,9.80,9.60,9.66,9.82,-0.16,-1.6293,672668.75,...,10.10,-0.05357,-0.13011,81.46819,47.273,78.788,9.91542,9.52658,10.45771,9.08941
3,600000.SH,20241212,9.65,9.82,9.59,9.82,9.63,0.19,1.9730,496515.26,...,10.10,-0.07137,-0.12708,99.51791,18.182,30.303,9.92001,9.53099,10.45854,9.09013
4,600000.SH,20241211,9.80,9.84,9.62,9.63,9.80,-0.17,-1.7347,487627.96,...,10.10,-0.09441,-0.12103,82.70564,49.153,78.378,9.90165,9.51335,10.45775,9.08944

In [7]:
trade_days = features.groupby("ts_code").count().iloc[:,0].sort_values(ascending=False)
unfull_codelist = list(trade_days[trade_days < 1202].index)
len(unfull_codelist)

1150

In [8]:
for i in unfull_codelist:
    features.drop(features[features["ts_code"] == i].index,axis=0,inplace=True)
features.reset_index(drop=True,inplace=True)
features.shape

(1346240, 105)

In [9]:
nalist = features.isnull().sum().sort_values(ascending=False)
nalist

dv_ttm          345920
pe_ttm          172534
pe              122746
dv_ratio         82836
ma_qfq_250       17627
                 ...
expma_12_qfq         0
expma_50_qfq         0
ktn_mid_qfq          0
lowdays              0
xsii_td4_qfq         0
Length: 105, dtype: int64

In [10]:
features[nalist.index[1:3]] = features[nalist.index[1:3]].fillna(0) #pe NaN values are filled by 0, due to negative values were recorded as NaN
features.drop(nalist.index[0],axis=1,inplace=True) #drop columns with too many NaN values
features.drop(nalist.index[3],axis=1,inplace=True)
features.head()

,ts_code,trade_date,open_qfq,high_qfq,low_qfq,close_qfq,pre_close,change,pct_chg,vol,...,taq_up_qfq,trix_qfq,trma_qfq,vr_qfq,wr_qfq,wr1_qfq,xsii_td1_qfq,xsii_td2_qfq,xsii_td3_qfq,xsii_td4_qfq
0,600000.SH,20241217,9.65,9.70,9.50,9.53,9.64,-0.11,-1.1411,411856.94,...,9.92,-0.03551,-0.13054,88.57663,92.857,92.857,9.86340,9.47660,10.45612,9.08803
1,600000.SH,20241216,9.62,9.75,9.62,9.64,9.66,-0.02,-0.2070,341836.18,...,10.05,-0.04065,-0.13100,83.72111,54.902,84.848,9.91287,9.52413,10.45687,9.08868
2,600000.SH,20241213,9.76,9.80,9.60,9.66,9.82,-0.16,-1.6293,672668.75,...,10.10,-0.05357,-0.13011,81.46819,47.273,78.788,9.91542,9.52658,10.45771,9.08941
3,600000.SH,20241212,9.65,9.82,9.59,9.82,9.63,0.19,1.9730,496515.26,...,10.10,-0.07137,-0.12708,99.51791,18.182,30.303,9.92001,9.53099,10.45854,9.09013
4,600000.SH,20241211,9.80,9.84,9.62,9.63,9.80,-0.17,-1.7347,487627.96,...,10.10,-0.09441,-0.12103,82.70564,49.153,78.378,9.90165,9.51335,10.45775,9.08944

In [11]:
'''nalist = nalist[nalist > 100]
nalist = list(nalist.index)
nalist = nalist[4:]
len(nalist) #length of columns which has more than 5000 NaN values

na_code = pd.DataFrame()
for i in nalist:
    na = features.groupby("ts_code").apply(lambda x:x[i].isnull().sum())
    na_code = pd.concat([na_code,na],axis=1)
na_code

drop_threshold = na_code[na_code.index == "689009.SH"].sum(axis=1).values[0] #1261
na_sum = na_code.sum(axis=1).sort_values(ascending=False)
na_codelist = list(na_sum[na_sum >= drop_threshold].index)
len(na_codelist) #735

for i in na_codelist:
    features.drop(features[features["ts_code"] == i].index,axis=0,inplace=True)
features.reset_index(drop=True,inplace=True)
features.shape'''

'nalist = nalist[nalist > 100]\nnalist = list(nalist.index)\nnalist = nalist[4:]\nlen(nalist) #length of columns which has more than 5000 NaN values\n\nna_code = pd.DataFrame()\nfor i in nalist:\n    na = features.groupby("ts_code").apply(lambda x:x[i].isnull().sum())\n    na_code = pd.concat([na_code,na],axis=1)\nna_code\n\ndrop_threshold = na_code[na_code.index == "689009.SH"].sum(axis=1).values[0] #1261\nna_sum = na_code.sum(axis=1).sort_values(ascending=False)\nna_codelist = list(na_sum[na_sum >= drop_threshold].index)\nlen(na_codelist) #735\n\nfor i in na_codelist:\n    features.drop(features[features["ts_code"] == i].index,axis=0,inplace=True)\nfeatures.reset_index(drop=True,inplace=True)\nfeatures.shape'

In [12]:
features = features.sort_values(["ts_code","trade_date"]).groupby("ts_code").apply(lambda x:x.ffill().bfill()).reset_index(drop=True)
na_check = features.isnull().sum().sort_values(ascending=False)
na_check[na_check > 0]

/var/folders/x3/53j6bfp964x_724yw6dpmf2r0000gn/T/ipykernel_44445/1506304329.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  features = features.sort_values(["ts_code","trade_date"]).groupby("ts_code").apply(lambda x:x.ffill().bfill()).reset_index(drop=True)

Series([], dtype: int64)

In [13]:
features.sort_values(["ts_code","trade_date"],ascending=True,inplace=True)
features

,ts_code,trade_date,open_qfq,high_qfq,low_qfq,close_qfq,pre_close,change,pct_chg,vol,...,taq_up_qfq,trix_qfq,trma_qfq,vr_qfq,wr_qfq,wr1_qfq,xsii_td1_qfq,xsii_td2_qfq,xsii_td3_qfq,xsii_td4_qfq
0,600000.SH,20200102,9.84400,9.97820,9.82821,9.84400,12.37,0.10,0.8084,516290.79,...,9.97820,0.09389,-0.07694,210.72377,32.716,32.716,9.94330,9.55336,10.32297,8.97230
1,600000.SH,20200103,9.92294,9.97031,9.84400,9.94662,12.47,0.13,1.0425,380188.10,...,9.97820,0.10740,-0.05954,255.65661,7.698,7.698,9.99034,9.59856,10.33206,8.98020
2,600000.SH,20200106,9.88347,9.98609,9.80453,9.83611,12.60,-0.14,-1.1111,410011.93,...,9.98609,0.11780,-0.04175,231.18675,35.875,35.875,10.01725,9.62442,10.33588,8.98353
3,600000.SH,20200107,9.87558,9.94662,9.83611,9.86768,12.46,0.04,0.3210,284214.82,...,9.98609,0.12641,-0.02380,270.30153,28.322,28.322,10.05342,9.65917,10.34006,8.98716
4,600000.SH,20200108,9.79663,9.82821,9.67033,9.72559,12.50,-0.18,-1.4400,352405.36,...,9.98609,0.12752,-0.00613,254.99517,62.309,75.066,10.05376,9.65950,10.34021,8.98729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1346235,688399.SH,20241211,73.00000,73.47000,72.00000,72.10000,73.00,-0.90,-1.2329,5271.19,...,84.50000,-0.51268,-0.18440,59.70494,47.626,60.624,73.86993,70.97307,79.81973,69.37603
1346236,688399.SH,20241212,71.95000,72.71000,71.50000,72.63000,72.10,0.53,0.7351,4547.80,...,84.35000,-0.49242,-0.21818,68.92878,40.887,50.292,74.22591,71.31509,79.76723,69.33040
1346237,688399.SH,20241213,72.61000,72.61000,71.66000,72.30000,72.63,-0.33,-0.4544,3487.77,...,83.66000,-0.46974,-0.25107,60.08607,56.725,56.725,74.17491,71.26609,79.71606,69.28592
1346238,688399.SH,20241216,72.47000,72.77000,71.33000,71.58000,72.30,-0.72,-0.9959,3177.98,...,83.66000,-0.44875,-0.28209,63.60536,70.760,93.557,73.89696,70.99904,79.64705,69.22594
1346239,688399.SH,20241217,71.58000,71.77000,68.55000,68.55000,71.58,-3.03,-4.2330,5566.61,...,83.66000,-0.44310,-0.31141,48.13307,100.000,100.000,73.06719,70.20181,79.33809,68.95741

In [14]:
features.to_csv("上证股票技术因子数据200101-241217_cleaned.csv",index=False)